@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Press+Start+2P&display=swap');

body{
    font-family: 'Jockey One', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

.calculator{
    background-color:aquamarine;
    border-radius: 4px;
    width: 475px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 8px black;
    border-color:aliceblue;
    border-style: solid;
    border: 1px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    
}

.rows{
    display: flex;
    flex-direction: column;
}

.horizontal{
    display: flex;
    justify-content: center;
    
}

horizontal.row-5{
    flex-grow: 1;
}

.input-bar{
    background-color: white;
    display: flex;
    justify-content: right;
    align-items:center;
    height: 80px;
    font-size: 50px;
    border-radius: 4px;
}

.key{
    flex-grow: 1;
    padding: 1rem;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border: 1px;
    width: 45px;
    font-size: 40px;
    border-radius: 4px;
}




/* CSS */
.key {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .key:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .key:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .key:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
