.container{
    display: flex;
    justify-content: center;
}

.calculator{
    width: 375px;
    display: flex;
    flex-direction: column;
}

.rows{
    display: flex;
    border-style: solid;
    justify-content: center;
}


.input-bar{
    display: flex;
    justify-content: right;
    align-items:center;
    height: 75px;
    border-style: solid;
    font-size: 40px;
}

.key{
    padding: 1rem;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border: 1px;
    width: 50px;
    height: 60px;
    font-size: 40px;
    border-radius: 16px;
}


.key.number{
    background-color: darkgoldenrod;
}

.key.operator{
    background-color: orange;
}

.key.equal{
    background-color: yellow;
}

.key:hover{
    background-color:deeppink;
}